@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 12px;

  --background: oklch(0.984 0.005 67.8);
  --foreground: oklch(0.243 0.008 95.4);
  --card: oklch(0.994 0.001 106.4);
  --card-foreground: var(--foreground);
  --popover: var(--card);
  --popover-foreground: var(--foreground);
  --primary: oklch(0.633 0.079 61);
  --primary-foreground: oklch(1 0 0);
  --secondary-foreground: oklch(0.498 0.008 106.7);
  --muted: var(--accent);
  --muted-foreground: oklch(0.641 0.01 106.7);
  --accent: oklch(0.953 0.013 63.9);
  --accent-foreground: var(--foreground);

  --destructive: oklch(0.744 0.113 18.8);
  --destructive-foreground: oklch(1 0 0);

  --border: oklch(0.885 0.004 91.5);
  --input: var(--border);
  --ring: oklch(0.746 0.072 62.1);

  --tooltip: var(--foreground);
  --tooltip-foreground: oklch(0.994 0.001 106.4);
  --tooltip-muted-foreground: oklch(0.791 0.008 98.9);

  --selection: oklch(0.517 0.131 53.1 / 0.282);
  --selection-foreground: var(--foreground);

  --shadow-md: 0px 2px 8px rgb(0 0 0 / 0.08);
}

.dark {
  --background: oklch(0.252 0 89.9);
  --foreground: oklch(0.949 0 89.9);
  --card: oklch(0.313 0 89.9);
  --popover-foreground: var(--secondary-foreground);
  --secondary-foreground: oklch(0.77 0 89.9);
  --muted: oklch(0.213 0 89.9);
  --muted-foreground: oklch(0.583 0 89.9);
  --accent: oklch(0.252 0 89.9);

  --tooltip: oklch(0.178 0 89.9);
  --tooltip-foreground: var(--foreground);
  --tooltip-muted-foreground: oklch(0.77 0 89.9);

  --border: oklch(0.402 0 89.9);

  --shadow-md: 0px 2px 8px rgb(0 0 0 / 0.24);
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-source-serif);

  --radius-xs: calc(var(--radius) - 6px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --shadow-md: var(--shadow-md);

  --color-tooltip: var(--tooltip);
  --color-tooltip-foreground: var(--tooltip-foreground);
  --color-tooltip-muted-foreground: var(--tooltip-muted-foreground);

  --color-selection: var(--selection);
  --color-selection-foreground: var(--selection-foreground);
}

@counter-style bare-decimal {
  system: extends decimal;
  suffix: '\2002'; /* en space */
}

@layer base {
  * {
    @apply border-border outline-ring;
  }
  ::selection {
    @apply bg-selection text-selection-foreground;
  }
  body {
    @apply bg-background font-sans text-foreground;
  }

  /* See https://tailwindcss.com/docs/upgrade-guide#buttons-use-the-default-cursor */
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
