@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

/* Import Radix Colors */
@import '@radix-ui/colors/sand.css';
@import '@radix-ui/colors/sand-dark.css';
@import '@radix-ui/colors/sand-alpha.css';
@import '@radix-ui/colors/sand-dark-alpha.css';
@import '@radix-ui/colors/brown.css';
@import '@radix-ui/colors/brown-dark.css';
@import '@radix-ui/colors/brown-alpha.css';
@import '@radix-ui/colors/brown-dark-alpha.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/red-dark.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-source-serif);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-focus: var(--focus);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --background: var(--brown-2);
  --foreground: var(--sand-12);
  --card: var(--sand-1);
  --card-foreground: var(--sand-12);
  --popover: var(--sand-2);
  --popover-foreground: var(--sand-12);
  --primary: var(--brown-9);
  --primary-foreground: white;
  --secondary: var(--sand-4);
  --secondary-foreground: var(--sand-12);
  --muted: var(--sand-3);
  --muted-foreground: var(--sand-11);
  --accent: var(--sand-4);
  --accent-foreground: var(--sand-12);
  --destructive: var(--red-9);
  --destructive-foreground: white;
  --border: var(--sand-6);
  --input: var(--sand-7);
  --ring: var(--brown-8);
  --focus: var(--brown-a5);
  --chart-1: var(--brown-9);
  --chart-2: var(--brown-7);
  --chart-3: var(--brown-5);
  --chart-4: var(--sand-8);
  --chart-5: var(--sand-6);
  --sidebar: var(--sand-2);
  --sidebar-foreground: var(--sand-12);
  --sidebar-primary: var(--brown-9);
  --sidebar-primary-foreground: white;
  --sidebar-accent: var(--sand-4);
  --sidebar-accent-foreground: var(--sand-12);
  --sidebar-border: var(--sand-6);
  --sidebar-ring: var(--brown-8);
}

.dark {
  --background: var(--sand-2);
  --foreground: var(--sand-12);
  --card: var(--sand-1);
  --card-foreground: var(--sand-12);
  --popover: var(--sand-2);
  --popover-foreground: var(--sand-12);
  --primary: var(--brown-9);
  --primary-foreground: white;
  --secondary: var(--sand-4);
  --secondary-foreground: var(--sand-12);
  --muted: var(--sand-3);
  --muted-foreground: var(--sand-11);
  --accent: var(--sand-4);
  --accent-foreground: var(--sand-12);
  --destructive: var(--red-9);
  --destructive-foreground: white;
  --border: var(--sand-6);
  --input: var(--sand-7);
  --ring: var(--brown-8);
  --focus: var(--brown-a5);
  --chart-1: var(--brown-9);
  --chart-2: var(--brown-7);
  --chart-3: var(--brown-5);
  --chart-4: var(--sand-8);
  --chart-5: var(--sand-6);
  --sidebar: var(--sand-2);
  --sidebar-foreground: var(--sand-12);
  --sidebar-primary: var(--brown-9);
  --sidebar-primary-foreground: white;
  --sidebar-accent: var(--sand-4);
  --sidebar-accent-foreground: var(--sand-12);
  --sidebar-border: var(--sand-6);
  --sidebar-ring: var(--brown-8);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
    isolation: isolate;
    position: relative;
  }
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
