@import 'tailwindcss';
@import '@radix-ui/colors/brown.css';
@import '@radix-ui/colors/sand.css';

@theme {
  --font-sans: 'Inter Variable', sans-serif;
  --font-serif: 'Source Serif 4 Variable', serif;
}

@theme inline {
  --accent-1: var(--brown-1);
  --accent-2: var(--brown-2);
  --accent-3: var(--brown-3);
  --accent-4: var(--brown-4);
  --accent-5: var(--brown-5);
  --accent-6: var(--brown-6);
  --accent-7: var(--brown-7);
  --accent-8: var(--brown-8);
  --accent-9: var(--brown-9);
  --accent-10: var(--brown-10);
  --accent-11: var(--brown-11);
  --accent-12: var(--brown-12);

  --gray-1: var(--sand-1);
  --gray-2: var(--sand-2);
  --gray-3: var(--sand-3);
  --gray-4: var(--sand-4);
  --gray-5: var(--sand-5);
  --gray-6: var(--sand-6);
  --gray-7: var(--sand-7);
  --gray-8: var(--sand-8);
  --gray-9: var(--sand-9);
  --gray-10: var(--sand-10);
  --gray-11: var(--sand-11);
  --gray-12: var(--sand-12);
}

@theme inline {
  --accent-bg: var(--accent-2);
  --accent-bg-hover: --alpha(var(--accent-3) / 70%);

  --gray-border: var(--gray-5);
  --gray-border-hover: var(--gray-6);

  --accent-solid: var(--accent-9);
  --accent-solid-hover: var(--accent-10);

  --gray-text-inverted: var(--gray-1);
  --gray-text-dim: var(--gray-10);
  --gray-text-placeholder: var(--gray-11);
  --gray-text-contrast: var(--gray-12);

  --gray-shadow: var(--gray-12);
  --shadow-panel: 0px 4px 20px;
}

@layer base {
  body {
    @apply bg-(--accent-bg) font-sans font-light text-(--gray-text-contrast);
  }
}

@layer components {
  .btn {
    @apply cursor-pointer disabled:pointer-events-none disabled:opacity-50;
  }
}
