@import "tailwindcss";
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/brown.css";
@import "@radix-ui/colors/brown-alpha.css";

@theme {
  --font-sans: "Inter Variable", sans-serif;
  --font-serif: "Source Serif 4 Variable", serif;
}

@theme inline {
  --shadow-claude: 0px 4px 20px;

  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);
  --color-gray-11: var(--gray-11);
  --color-gray-12: var(--gray-12);

  --color-brown-1: var(--brown-1);
  --color-brown-2: var(--brown-2);
  --color-brown-3: var(--brown-3);
  --color-brown-4: var(--brown-4);
  --color-brown-5: var(--brown-5);
  --color-brown-6: var(--brown-6);
  --color-brown-7: var(--brown-7);
  --color-brown-8: var(--brown-8);
  --color-brown-9: var(--brown-9);
  --color-brown-10: var(--brown-10);
  --color-brown-11: var(--brown-11);
  --color-brown-12: var(--brown-12);

  --color-brown-a1: var(--brown-a1);
  --color-brown-a2: var(--brown-a2);
  --color-brown-a3: var(--brown-a3);
  --color-brown-a4: var(--brown-a4);
  --color-brown-a5: var(--brown-a5);
  --color-brown-a6: var(--brown-a6);
  --color-brown-a7: var(--brown-a7);
  --color-brown-a8: var(--brown-a8);
  --color-brown-a9: var(--brown-a9);
  --color-brown-a10: var(--brown-a10);
  --color-brown-a11: var(--brown-a11);
  --color-brown-a12: var(--brown-a12);
}
